<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>

</head>
<body ng-app="funWithStuff">
  <h1>Angular 101: Pure Magic</h1>

  <!-- <p>{{"Angular" + "js".toUpperCase()}}</p>

  <p>{{a = 5}} here is still</p>
  <p>{{a}} here</p>

  {{count = 15}}
  <p>There {{count = 1; verb = count === 1 ? "is" : "are"; verb + " " + count}} of them</p>
  {{count}}

  <input type="text" placeholder="This input is bound to..." ng-model="coolBinding">
  <span>this: {{coolBinding.toUpperCase()}}</span>

  <p ng-init="allowed=false">
    The Secret Code is
    <span ng-show="allowed">01234</span>
    <span ng-hide="allowed">not for you to see</span>
    <div>
      <input type="button" value="toggle" ng-click="allowed = !allowed">
    </div>
  </p>

  <div ng-controller="NameCtrl">
    {{message}}
  </div> -->

  <!-- Where the router will inject the views (templates bound to controllers) -->
  <div ng-view></div>

  <script src="app.js"></script>
  <!-- factories -->
  <script src="factories/songFactory.js"></script>
  <!-- controllers -->
  <script src="controllers/todoCtrl.js"></script>
  <script src="controllers/songCtrl.js"></script>
  <script src="controllers/songDetailCtrl.js"></script>
</body>
</html>
