<nav>
  <ul>
    <li>
      <a href="" title="">About Us</a>
    </li>
    <li>
      <a href="" title="">About You</a>
    </li>
    <li>
      <a href="" title="">About Them</a>
    </li>
  </ul>
</nav>
