body {
  background: #8fbc8f;
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.bow-close {
  background-image: url("img/rainbow1.jpeg");
}
.bow-double {
  background-image: url("img/rainbow2.jpeg");
}
.bow-flash {
  background-image: url("img/rainbow3.jpeg");
}

.card {
  /* display: inline-block; */
  float: left;
  width: 30%;
  height: 150px;
  border: 2px solid;
  margin-right: 10px;
  background-size: cover;
}

.fancy-border {
  border-width: 4px;
  border-color: orange;
  border-radius: 5px;
}
